/* mobile grid */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(64px, 1fr));
  gap: 24px;
  margin: 24px;
}

.grid > *,
.cta-content,
.cta-image,
.features > * {
  grid-column: span 4;
}

.overview,
.cta,
.features {
  display: inherit;
  grid-template-columns: inherit;
  gap: inherit;
}

.overview-content,
.features {
  grid-column: span 4;
  text-align: center;
}

.overview img {
  /* height: min(100%, 220px); <- this is what was causing all that space to be there.*/
  max-height: 220px;
  margin-bottom: 75px;
}

.cta-image {
  max-width: unset;
  height: 372px;
  overflow: hidden;
}

.overview img:nth-of-type(1) {
  max-width: unset;
  justify-self: right;
}

.overview img:nth-of-type(2) {
  grid-column: span 3;
  object-fit: cover;
  max-width: unset;
}

.features > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.icon {
  margin: 48px auto;
}
